.bor {
    border: 1px solid red;
}

.w-60 {
    width: 60%;
}

.border-left-gray {
    border-left: 1px solid #e2e2e2;
}

.border-bottom-gray {
    border-bottom: 1px solid #e2e2e2;
}

.pointer {
    cursor: pointer;
}

.user-buttons-guest {
    background-color: #14A44D;
}

.user-buttons-cm {
    background-color: #E4A11B;
}

.user-buttons-cc {
    background-color: #3B71CA;
}

.user-buttons-a {
    background-color: #DC4C64;
}

.user-buttons:hover {
    background-color: #332D2D;
    color: white;
    transition: .2s linear all;
}

.dt-buttons .btn {
    background-color:  #3B71CA;
    border: none;
}

.dt-buttons .btn:hover {
    background-color:  #1a4ea1;
}